@charset "utf-8";
/* CSS Document */

body {
	padding-top:145px;
	padding-bottom:50px;
	background:#fff;
}

header {
	background:#09C;
}

.banner_row {
    background:url(../../seis/images/banner-row.png) no-repeat;
}

.banner {
	padding:15px 0 20px 0;
}

.banner img {
	margin:0px 0 0 0px;
}

.banner h1 {
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding:8px 0 2px 80px;
	margin:0;
}

.banner p {
	color:#D7D5D5;
	padding:0px 20px 0 80px;
	margin:0;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
}

ul.nav-tabs li a{
	color:#fff;
}

.nav-tabs .dropdown-menu li a {
	color:#000;
}

.nav-tabs>li>a:hover {
	color:#333;
}

.nav-tabs>li>a:focus {
	color:#333;
}

.navbar-fixed-bottom {
	background-color:#069;
	color:#fff;
	padding:10px 10px;
}

.col-md-4 p {
    text-align:right;
    color:#646060;
    margin:0;
    padding:10px 17px 0 0;
}

#imagelogo {
    float:right;
    margin-top:15px;
}

.col-md-8 ul {
        margin:0;
    padding:0;
}

.nav-tabs {
	border:none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor:pointer;
}

.col-md-4 a#log {
    color:#fff;
    cursor:pointer;
}

.modal-header h4.modal-title {
    color:#09C;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}

body.modal-open{
    overflow-y:scroll;
}

.rev-pagination {
  margin:1px;
}

.form-horizontal .control-label {
  text-align: left;
}

.group-inputtext {
  width:11%;
}

.input-width {
  width: 89%;
}

.group1-inputtext {
  width:7%;
  padding-top: 8px;
}

.input1-width {
  width: 93%;
}

/*##.input-size {
  width:977px;
}   */

.button-right {
  float:right;
}

.right {
    float:right;
}

.row nav {
    float:right;
}

.search-size {
    height:24px;
}

.btn-size {
    padding:1px 12px;
}

.header-size {
    height:38px;
}

.footer-size {
    padding:0;
    height: 38px;
}

table.fixed td.groupNameWidth {
    width:25%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.groupDescWidth {
    width:45%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}
table.fixed td.groupTransdateWidth {
    width:15%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.personnelIdnumberWidth {
    width:13%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.personnelFNameWidth {
    width:13%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.personnelMNameWidth {
    width:13%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.personnelLNameWidth {
    width:13%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.personnelDesignationWidth {
    width:13%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.personnelTransdateWidth {
    width:13%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}



td.desc-width {
    width:85%;
    padding-left: 10px;
    padding-bottom:5px;
}

table.fixed {table-layout:fixed;}

table.fixed td.userNameWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.userFullNameWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.userDesignWidth {
    width: 23%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.userGroupWidth {
    width:9%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.userTransdateWidth {
    width: 20%;
}

table.fixed td.divisionNameWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.divisionDescWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.divisionDepartmentWidth {
    width:15%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.divisionTransdateWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

 .modal-open[style] {
padding-right: 0px !important;

    overflow-y: scroll;
    overflow-x: hidden;

 }

 #footerNote {
     float:left;
 }

  #footerNoteovermodal{
     float:left;
 }

   #footerNoteovermodalovermodal{
     float:left;
 }



div.growlUI { background: url(../images/ajax-loader.gif) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left
}

table.fixed td.equipNumberWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.equipDescWidth {
    width:20%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

table.fixed td.equipModelWidth {
    width:15%;
   word-break: break-all;
}
table.fixed td.equipStatusWidth {
    width:15%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}
table.fixed td.equipLocationWidth {
    width:15%;
    word-wrap: break-word; /* or "normal" */
    overflow-wrap: break-word;
}

.tablechoose{
  cursor: pointer;
}


#col-width1 {
    width:100%;
    margin:10px 0 10px 0;
}


#col-left {
  float: left;
  width:50%;
}


#col-left1 {
  float: left;
  width:33.3%;
  padding-bottom: 10px;
}

#col-leftwidth {
    float:left;
    width:66.7%;
}

#col-right1 {

float: right;
width:33.3%;
padding-bottom: 10px;
}


#col-right {

float: right;
width:50%;
}

.textsize {

  width: 35%;

  width: 25%;

}

.colsm4 {
  width:75%;
}


.colsm04 {
    width:68%;
}

.colsmwidth4 {
    width:89.4%;
}

.colsmwhole4 {
    width:92.9%;
}

.colsm04right {
    width:83.9%;
}

.aligntxt {
    width: 120px;
}

span.removecolor:hover {
  color: #d9534f;
}


.scrollwd {
    overflow: scroll;
    margin: 0px auto;
    max-width: 1107px;
    height: 250px;
    padding: 0 0 10px 0;
}


.scrollwd2 {
    overflow: scroll;
    margin: 0px auto;
    max-width: 1107px;
    height: 360px;
    padding: 0 0 10px 0;
}


.table {
    max-width: 100%;
    margin-bottom: 20px;
}

.testleft {
  float: left;
  padding:0 0 10px 0;
}

.tclear {
    clear: both;
}

.buttonright {
    float: right;
    margin-top:10px;
}


